.footer {
  background-color: #33afc0;
  text-align: center;
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: white;
  opacity: 0.5;
}

.footer strong {
  color: red;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer a {
  font-size: 32px;
  margin: 10px;
  color: #fe5345;
}
